.header {
  display: flex;
  flex-direction: row;
  padding: 0px 22px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 999;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 420px) {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
    .finance {
      font-family: Edu Monument Grotesk Semi-Mono;
      color: white;
      font-size: 20px;
      margin-left: 10px;
      @media screen and (max-width: 420px) {
        margin-left: 0px;
        margin-top: 10px
      }
    }
    .accountInfo {
      margin-left: 22px;
      padding: 2px;
      // background: linear-gradient(90.11deg,#69c9ce 1.13%,#d5e061 98.54%);
      background: #234545;
      border-radius: 6px;
      width: 170px;
      border-width: 1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      @media screen and (max-width: 420px) {
        margin-left: 0px;
        margin-top: 20px;
      }
      .accountInfoText {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 15px;
        font-family: 'Edu Monument Grotesk Mono';
        background-color: #0e1d1b;
        border-radius: 6px;
        padding: 5px 20px 5px 20px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 700px) {
      display: none;
    }
    .rowItem {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
      align-items: center;
      .text {
        font-size: 20px;
        font-family: Monument Grotesk;
        color: white;
        font-weight: 400;
        margin-right: 9px;
      }
    }
    .rightNav {
      font-family: Monument Grotesk;
      font-weight: 400;
      .arrowNav {
        margin-left: 5px;
        margin-bottom: 2px;
      }
      .subNav {
        display: none;
        position: absolute;
        min-width: 249px;
        right: 0;
        top: 75px;
        z-index: 10;
        padding: 0px;
        // border: 1px solid #808080;
        // padding-top: 15px;
        // border-top: none;
        background: #0d0d0d;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 5px 5px;
        .subNavItem {
          background: #0d0d0d;
          border: 2px solid #808080;
          border-bottom-width: 1px;
          border-top: none;
          color: #ffffff;
          text-align: left;
          text-decoration: none;
          font-size: 20px;
          display: block;
          .active {
            background-color: #8f9a9a;
            border-bottom: none;
            &:hover {
              color: #ffffff;
            }
          }
          a {
            padding: 10px 0;
            padding-right: 24px;
            justify-content: flex-end;
            &:hover {
              color: #8f9a9a;
            }
          }
          &:last-child {
            // background: #831414;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-bottom-width: 2px;
          }
        }
      }
      ul {
        margin-right: 10px;
        font-size: 20px;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        a {
          display: flex;
          text-decoration: none;
          color: #ffffff;
          padding: 5px 10px;
          align-items: center;
          .navItemTop {
            font-size: 20px;
          }
          .navItemBottom {
            margin-top: -1px;
            font-size: 12px;
            // font-weight: 600;
          }
        }
  
        .navItem {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          margin-right: 10px;
          text-align: center;
          position: relative;
          padding: 1em 0;
          .active {
            border-bottom: 2px solid #808080;
          }
          &:hover {
            .navTitle {
              opacity: 0.7;
            }
            .subNav {
              display: block;
            }
          }
        }
      }
    }
  }
}