.header {
  display: flex;
  flex-direction: row;
  padding: 18px 22px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 999;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 420px) {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
    .finance {
      font-family: Edu Monument Grotesk Semi-Mono;
      color: white;
      font-size: 20px;
      margin-left: 10px;
      @media screen and (max-width: 420px) {
        margin-left: 0px;
        margin-top: 10px
      }
    }
    .accountInfo {
      margin-left: 22px;
      padding: 2px;
      background: linear-gradient(90.11deg,#69c9ce 1.13%,#d5e061 98.54%);
      border-radius: 6px;
      width: 200px;
      border-width: 1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      @media screen and (max-width: 420px) {
        margin-left: 0px;
        margin-top: 20px;
      }
      .accountInfoText {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 21px;
        font-family: 'Edu Monument Grotesk Mono';
        background-color: #101010;
        border-radius: 6px;
        padding: 10px 20px 10px 20px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 700px) {
      display: none;
    }
    .rowItem {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
      align-items: center;
      .text {
        font-size: 20px;
        font-family: Monument Grotesk;
        color: white;
        font-weight: 400;
        margin-right: 9px;
      }
    }
  }
}