.text {
  font-family: Edu Monument Grotesk Semi-Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  .short {
    color: #d41d00;
  }
  .long {
    color: #01d16c;
  }
}